.App {
  overflow-y: hidden;
  overflow-x: hidden;
}

.app_body {
  display: flex;
  background-color: #ededed;
}

.app_body {
  display: flex;
  background-color: #ededed;
  height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
}

@media screen and (min-width: 960px) {
  .App {
    display: grid;
    place-items: center;
    margin-top: 14px;
    margin-right: auto;
    margin-left: auto;
  }
  .app_body {
    height: 97vh;
    width: 960px;
  }
}
