.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.3;
}

.sidebar_header {
    
    display: flex;
    border-right: 1px solid darkgray;
    padding: 1em;
    /* border-radius: 10px; */
    /* background-color: lightgray; */
}





.sidebar_header_middle>h3{
   margin-left: 20px;
   margin-top: 0%;
   margin-bottom: 0%;
}

.sidebar_header_middle>p{
   margin-left: 20px;
   margin-top: 0%;
}

.sidebar_header_middle{
    display: flex;
    flex-direction: column;
}


.sidebar_search_outside{
    padding: 10px;
    background-color: whitesmoke;
}


.sidebar_search {
     background-color: white;
     width: 100%;
     display: flex;
     align-items: center;
     /* the below two are standard optend by whatsapp */
     height: 35px;
     border-radius: 20px;

}

.sidebar_search >  input {
    border: none;
}

.new_chat{
    background-color: white;
    text-align: center;
    border: 1px solid lightgray;
}

.sidebar_chat{
    /* overflow: hidden; */
    background-color:red;
    flex: 1;
    width: 100%;
    margin: 0;
   
}

/* .sidebar_chat_scroll{
    overflow:scroll;

} */

.new_chat:hover{
    background-color: thistle;
    cursor: pointer;
}